:root{
	--narinci-reng:
	#FF8A56
}




@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:41px 112.5px 0 ;
}


.nav-links a{
text-decoration: none;
padding-right:20px;
color: #000;
font-weight: 400;


}
.header a:hover{
	text-decoration: underline;

}




.fa-bars{
	font-size: 26px;
    display:none;
	cursor: pointer;
}





@media(max-width:1100px){
	.nav-links{
		display: none;
	}
	.fa-bars{
		display: flex;
	}
}
@media(max-width:700px) {

	.header{
		padding-left: 20px;
		padding-right: 20px;
	
	}
}


/* introduction */




.introduction{
	display: flex;
	justify-content: space-between;
	padding: 0 112.5px;
	padding-top: 16.7px;
	flex-wrap: wrap;
}
.intro-left-side{
	padding-top: 117px;
	min-width: 715px; 

}


.dfc{
	display: flex;
	flex-direction: column;
}


.intro-left-side h1 span{
	color: var(--narinci-reng);}

 .intro-left-side h1{
	font-size: 72px;
	font-weight: 700;
	margin-bottom: 34px;
}

.intro-left-side p{
color:#666;
font-weight: 400;

}

.book-a-call button{
	width: 151px;
	height: 58px;
	background-color: #333;
	color: #fff;
margin-right:40px;

}
.book-a-call{
	margin-top:38px;

}
.book-a-call a{
	margin-right:14.33px;
	text-decoration: none;
	color: #222;
}
.intro-right-side{
	margin-top: 70px;
	min-width: 450px;
}


@media( max-width:1472px) and (min-width:911px){
	.intro-left-side{
		flex-basis: 100%;
		text-align: center;
		padding-top: 100px;
	}
.intro-right-side{
margin: 0 auto;
}


}

@media(max-width:910px) and (min-width:601px) {
.introduction{
	justify-content: center;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}
.intro-left-side h1{
	font-size: 60px;
	
}
.intro-left-side{
	min-width:550px ;
	padding-top: 80px;
}

}






@media(max-width:600px){
.introduction{
	padding-left: 0px;
	padding-right: 0px;
justify-content:center;
text-align: center;
}

.intro-left-side h1{
	font-size: 50px;
	
}

.intro-left-side{
	min-width: 300px;
	padding-top: 50px;
}


.header{
	padding-left: 20px;
	padding-right: 20px;

}
}

/* TRUSTED BY START */


.trusted-by h6{
	color:
	rgba(0, 0, 0, 1) ;
	text-align: center;
	font-size: 18px;
	font-weight: 400;

}

.partner-companies {
	display: flex;
	justify-content: space-around;
	padding-top: 45px;
}

/* odd tek even cut */
@media(max-width:768px){
.partner-companies .partner-company:nth-child(even){
	display: none;
}

}
/* psedo element/class */

@media(max-width:500px){
.partner-companies .partner-company :not(:first-child){
	display: none;
}
}

/* TRUSTED BY END */



/* services start*/
 .services-cards ul{
	list-style-type:square;
	
 }

 .services-cards{
	display: flex;
	padding: 117px 171px 0px 171px;
justify-content: space-around;
flex-wrap: wrap;
 }

.services h6{
	text-align: center;
	font-weight: 700;
	font-size: 22px;
	margin-top: 156px;
	color: 
	#FF5E69;
	text-transform: uppercase;
	letter-spacing:2px;

}
.services h1{
	text-align: center;
	font-size: 54px;

}
.service-card p{
	width: 252px;

}
.service-card{
	min-width:250px;
}


@media(max-width:782px) and (min-width:500px){
.services h1{
	font-size: 30px;
	
}
.services-cards{
	padding: 0px;
}
}
/* services end */


.text{
    display: flex;
    flex-direction: column;
}
.qrup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text h6{
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: 
    #B16CEA;

}
.text h1{
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1px;
}
.projects button{
    width: 201px;
    height: 58px;
    background-color: #222;
    color: #fff;
    font-size: 18px;
    margin-right: 112px;
}
.projects {
    padding-top: 150px;
    padding-left: 113px;
}
.project1{
    background-color:#fff;
}
.project2{
    background-color:#fff;
}
.project3{
    background-color:#fff;
}
.wiew-project{
    display: flex;
    justify-content: space-around;

    position:relative;
    z-index: 1;
}



@media(max-width:1400px){
	.project3{
		min-width:308px
	}
	.wiew-project :nth-child(even){
		display: none;
	}

}
@media(max-width:1110px){
	.text h1{
		font-size: 45px;
		}
	}
	@media(max-width:920px){
		.wiew-project :not(:first-child){
			display: none;
		}
		.text h1{
			min-width:362px;
			font-size: 35px;
		}
		
		.qrup{
			display: flex;
			flex-direction: column;
			
		}
.qrup .button{
	padding-right: 60px;
}

	}


@media(max-width:660px){
	.projects{
		padding-left: 50px;
		padding-right: 0px;
	}
	.wiew-project{
		width: 400px;
	}
}






.latest-blogs{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
    width:1485px;
    height: 1770px;
    background-color: #000;
    margin-top: -160px;
}
.latest-left-side{
display: flex;
flex-direction: column;
flex: 1;

    padding-left: 133px;
}
.latest-left-side h1,h6{
color: #fff;
}
.latest-left-side h1{
top: 38px;
font-weight: 700;
letter-spacing: 1px;
font-size: 54px;
}
.latest-left-side h5{
    padding-top:200px;
    color: 
    #FFA84B;
	width: 99px;
	height: 22px;
	letter-spacing: 4px;
	font-weight: 700;
	text-transform: uppercase;
}
.latest-left-side h6{
	font-size: 18px;
	font-weight: 700;	
}
.latest-left-side a img{
	position: relative;
top: -60px;
left:100px

}
.latest-right-side{
display: flex;
flex-direction: column;
flex-basis: 55%;
padding-top: 240px;

}
.latest-right-side h6{
color: #FFFFFFB2;
	
}
.latest-right-side h1{
	color: #fff;
	padding-top:24px ;
}
.latest-right-side h4{
	color: #fff;
	position: relative;
	padding-top: 52px;
}
.latest-right-side a{
	position: relative;
	top: -35px;
	left:140px
}
.latest-right-side hr{
	position: relative;
	right: 60px;
	width: 692px;
	height: 1px;
	color: 
	#FFFFFF
	30%;
	background: rgba(255, 255, 255, 0.3);;
opacity: 0.3;
}
.latest-right-side .vector1, .vector2{
	position:relative;
	left: 580px;
	width: 54px;
	
}
.vector{
	display: flex;

}
.vector1{

	padding-right: 10px;
}

@media(max-width:1400px){
.latest-right-side{
	padding-top: 30px;
	padding-left: 120px;
}
.latest-blogs{
	display: flex;
	flex-direction: column;
	height: 2000px;
}
.latest-right-side hr{
	right: 340px;
}
.vector{
	position: relative;
	right: 550px;
}
}

@media(max-width:640px){
	.latest-right-side h1{
		font-size:20px ;
	}
.latest-right-side{
	position: relative;
	right: 80px;
}
.latest-left-side{
	position: relative;
	right: 70px;
}
.latest-left-side h1{
	font-size: 40px;
}

}












/* PRODUCT DESIGNER START */

.designer{
	display: flex;
	flex-direction: column;

}
.product-designer{
	display: flex;
	flex-direction: column;
	padding: 50px 175px 79px 113px;
	
}
.that-me{
	display: flex;
	justify-content: space-between;
	align-items: center;


}
.designer h6{
	color:
	#FF5E69;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 2px;
	padding-top: 100px;
    margin: 0;
	text-transform: uppercase;

}
.designer h1{
	font-size: 54px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-bottom: 140px;



}
.product-designer p{
	color: #666666;
	padding: 80px 0px 110px;
}
.photo{
	display: flex;

}
.designer-svg{
	display: flex;
	flex-direction: column;
}
.designer1{
	padding-right: 16px;
}
.designer2{
	padding-right: 16px;
}
.designer3{
	padding-bottom: 16px;
}
.designer-svg{
	display: flex;
	flex-direction: column;
}
@media(max-width:1360px){
	.photo :nth-child(even){
		display: none;
	}
}
	@media(max-width:1050px) {
		.designer{
			min-width:278px;
		}
		.p {
			min-width:442px;
	}
	}
	@media(max-width:875px){
		.designer{
			padding-right:100px;
		}
		.photo :not(:first-child){
			display: none;
		}
		.that-me{
			display: flex;
			flex-direction: column;
		}
.designer h1{
	padding-bottom: 10px;
}
.product-designer p{
	padding-top: 10px;
}
	}

@media(max-width:538px){
	.product-designer p{
		min-width:443px;
        padding-left:50px
	}
	.photo{
		position: relative;
	right: 60px;
	}
}
















/* EDUCATION START */

.education{
height: 900px;
width: 1500px;
display: flex;
padding-left: 112.5px;
/* padding-right: 112.5px; */
}

.education-left-side{
	flex-basis: 40%;
	padding-right: 100px;

}
.education-right-side{
	/* padding-top: 100px; */
	display: flex;
	flex-direction: column;
	flex: 1;

}
.education hr{
	width: 528px;
	height: 1px;
	position: relative;
right: 88px;
}
.eduimg1{
	width: 200px;
	padding-bottom: 80px;
}
.eduimg2{
	width: 300px;
padding-bottom: 80px;
	
	
}
.logotext{
	display: flex;

}
.education a{
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
    color:#000
}
.education p{
	color: 
	rgba(0, 0, 0, 0.6);
	opacity: 0.8;
}

.edu{
	width: 500px;
	display: flex;
	justify-content: space-between;
	
}
.education-right-side .edu{
	display: flex;
	justify-content: space-between;
}

.number{
	position: relative;
	left: 190px;

}
.avector{
	display: flex;
	justify-content: space-between;
}
.education-left-side hr{
	position: relative;
	left: 3px;
	width:600px;
}

@media(max-width:1415px){
	.education{
		display: flex;
		flex-direction: column;
	}
	.education-left-side hr{
		margin: 0;
		position: relative;
		right: 50px;
	}
	.education-right-side hr{
		margin: 0;
		left: 15px;
	}
	.eduvector{
		position: relative;
		right:845px;
	}
	.eduimg2{
		padding-top: 50px;
	}
}
@media(max-width:780px){
	.education a{
		font-size: 16px;
	}
	.education{
		padding-left: 10px;
	}
	
}

/* TESTIMONIALS START */
.testimonials{
	height: 100vh;
	display: flex;
	padding: 10px 112px 50px 113px;


}
.testimonials-left-side{
	flex-basis: 50%;

}
.testimonials-left-side h6{
	color: 
	rgba(67, 83, 255, 1);
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 4px;
	margin: 0;
	text-transform: uppercase;
}
.testimonials-left-side h1{
	color: 
	rgba(0, 0, 0, 1);
	font-size: 54px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-top: 10px;

}
.testimonials-right-side{
	flex: 1;
	padding-top:220px;
}
.testimonials-right-side p{
	font-size: 36px;
	font-weight: 700;
	color: 
	rgba(0, 0, 0, 1);
}
.testimonials-right-side h1{
	font-size: 20px;
	font-weight: 700;
	padding-top: 69px;
}
.testimonials-right-side h6{
	color: 
	rgba(0, 0, 0, 1);
	font-size: 18px;
	font-weight: 400;
	margin: 0;
}
.testimonialsvector{
	position: relative;
	bottom:56px ;
	left: 512px;
}
@media(max-width:1450px){
	.testimonials-right-side{
		padding-top: 40px;
	}
	.testimonials-right-side p{
		min-width:636px;
		padding-top: 50px;
	}
	.testimonials-left-side{
		min-width:485px;
	}
	.testimonials{
		height: 1240px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-left: 50px;
}
.testivector{
position: relative;
right: 250px;
}
}

@media(max-width:1110px){
	.testimonialsvector{
		position: relative;
	left: 300px;
	}
}
@media(max-width:750px){
	.testimonials-left-side h1{
		font-size:40px ;
	}
	.testimonials-right-side p{
		font-size: 30px;
	}
	.testimonialsvector{
		left:200px ;
	}
}
@media(max-width:640px){
	.testimonials-right-side p{
		position: relative;
		font-size: 20px;
		right: 100px;
	}
	.testimonials-left-side h1{
		font-size:30px ;
	
	}
	.testimonials{
		padding-left: 0px;
		padding-bottom: 0px;
	}
.testivector{
	padding-left: 5px;
}
.testimonials-right-side h1{
	position: relative;
	right: 100px;
}
.testimonials-right-side h6{
	position: relative;
	right: 100px;
}
.testimonialsvector{
 left: 100px;
}
}



/* FAQ START */

.FAQ{
	background-color: #222;
	width: 1400px;
	height: 1000px;
	display: flex;
	flex-direction: column;
padding-right: 112.5px;
padding-left: 113px;


}
.faq-left-right-side{
	display: flex;
}
.faq h6{
	font-size: 22px;
	letter-spacing: 4px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	color: 
	rgba(255, 138, 86, 1);

}
.FAQ h1{
	font-size: 54px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	padding-bottom: 100px;
	color: 
	rgba(255, 255, 255, 1);
}
FAQ hr{
	color: rgba(229, 229, 229, 0.3);
	width: 500px;
	height: 1px;

}

.faq-left-side{
	flex-basis: 50%;
}
.faq-right-side{
	flex: 1;
}
.faqvector{
	display: flex;
justify-content: space-between;
}
.faq-left-right-side hr{
	position: relative;
	width: 565px;
	right: 69px;
}
.FAQ img{
	position: relative;
	right: 139px;
}
.faq-left-right-side a{
	padding-bottom: 40px;
	padding-top: 25px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.3px;
}

@media(max-width:1476px){
	.faq-left-side{

		flex-basis: 100%;
	}
.faq-left-right-side{
	display: flex;
	flex-direction: column;
}
.FAQ{
	height: 1350px;

 
}
.faq-left-right-side hr{
	right: 444px;
	width: 509px;
}
.FAQ img{
	right: 890px;
}
.faq  h1 {
font-size: 45px;
}
.faq h6{
	font-size: 18px;
}
.faq{
	position: relative;
	right: 400px;
	
}
}
@media(max-width:820px){
	.faq h1{
		font-size: 35px;
	}
	.faq{
		right:450px ;
	}
}
@media(max-width:730px){
	.faq h1{
		font-size:25px;

	}
	.FAQ{
		padding-left: 30px;
	
	}
	.faq{
		right:500px
	}
	.FAQ hr{
		width: 428px;
		right: 482px;
	}
	.faq-left-right-side a{
		font-size: 16px;
	}
	.FAQ img{
		right:970px
	}
}



















/* FAQ END */




/* KICKASS START */
.kickass {
height: 100vh;
background-color: #222;
width: 1300px;
padding: 10px 112.5px 0 113px;


}
.kickass h1{
	color:#fff;
	font-size: 50px;
	letter-spacing: 1px;
	font-weight: 700;


}
.kickass h2{
	color: 
	rgba(60, 70, 255, 1);
	font-size: 50px;
	font-weight: 700;
letter-spacing: 0.5px;
}

.kickass-left-side{
	flex-basis: 60%;
}
.kickass-left-side h6{
	color:
	rgba(102, 102, 102, 1) ;
	font-weight:400;
}
.kickass-left-side a{
	color:rgba(92, 92, 92, 1) ;
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
}

.kickass-right-side{
	flex: 1;
	display: flex;
}
.kickass-right-side a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	padding: 25px;
	padding-right: 40px;
}
.kickass-left-right-side{
	display: flex;
	align-items: center;
}
.kickass-right-side .about{
	display: flex;
	flex-direction: column;
}
.kickass-right-side .services{
	display: flex;
	flex-direction: column;
}
.kickass-right-side .experience{
	display: flex;
	flex-direction: column;
}
@media(max-width:1395px){
.kickass-right-side{
	min-width:420px

}
	.kickass-left-right-side{
		display: flex;
		flex-direction: column;
		padding-right: 886px;
	}
	.kickass-left-side{
		padding-top: 30px;
		padding-right: 177px;
	}
}
@media (max-width:1110px){

	.kickass h1{
		font-size: 40px;
	}
	.kickass h2{
		font-size: 40px;
	}

	.kickass-left-right-side{
		padding-top: 30px;
		padding-right: 900px;
	
	}
}
@media(max-width:963px){

	.kickass{
		padding-left: 40px;
		padding-right: 40px;
	}
}


@media(max-width:796px){
.kickass h1,h2{
	font-size: 30px;

}
}
@media(max-width:630px){
.kickass h1,h2{
	font-size: 20px;
}


}









/* KICKASS END */
.footer{
	background-color: #222;
	padding-bottom: 20px;


}
.footer h1{
	font-weight: 400;
font-size: 16px;
margin: 0;
text-align: center;
color: 
rgba(138, 149, 173, 1);
}
