:root{
	--narinci-reng:
	#FF8A56
}




@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:41px 112.5px 0 ;
}


.nav-links a{
text-decoration: none;
padding-right:20px;
color: #000;
font-weight: 400;


}
.header a:hover{
	text-decoration: underline;

}



.fa-bars{
	font-size: 26px;
	display: none;
	cursor: pointer;
}
@media(max-width:910px){
	.nav-links{
		display: none;
	}
	.fa-bars{
		display: flex;
	}

	.header{
		padding-left: 20px;
		padding-right: 20px;
	
	}
}


/* introduction */




.introduction{
	display: flex;
	justify-content: space-between;
	padding: 0 112.5px;
	padding-top: 16.7px;
	flex-wrap: wrap;
}
.intro-left-side{
	padding-top: 117px;
	min-width: 715px; 

}


.dfc{
	display: flex;
	flex-direction: column;
}


.intro-left-side h1 span{
	color: var(--narinci-reng);}

 .intro-left-side h1{
	font-size: 72px;
	font-weight: 700;
	margin-bottom: 34px;
}

.intro-left-side p{
color:#666;
font-weight: 400;

}

.book-a-call button{
	width: 151px;
	height: 58px;
	background-color: #333;
	color: #fff;
margin-right:40px;

}
.book-a-call{
	margin-top:38px;

}
.book-a-call a{
	margin-right:14.33px;
	text-decoration: none;
	color: #222;
}
.intro-right-side{
	margin-top: 70px;
	min-width: 450px;
}


@media( max-width:1472px) and (min-width:911px){
	.intro-left-side{
		flex-basis: 100%;
		text-align: center;
		padding-top: 100px;
	}
.intro-right-side{
margin: 0 auto;
}


}

@media(max-width:910px) and (min-width:601px) {
.introduction{
	justify-content: center;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}
.intro-left-side h1{
	font-size: 60px;
	
}
.intro-left-side{
	min-width:550px ;
	padding-top: 80px;
}

}






@media(max-width:600px){
.introduction{
	padding-left: 0px;
	padding-right: 0px;
justify-content:center;
text-align: center;
}

.intro-left-side h1{
	font-size: 50px;
	
}

.intro-left-side{
	min-width: 300px;
	padding-top: 50px;
}


.header{
	padding-left: 20px;
	padding-right: 20px;

}
}

/* TRUSTED BY START */


.trusted-by h6{
	text-align: center;
	font-size: 18px;
	font-weight: 400;

}

.partner-companies {
	display: flex;
	justify-content: space-around;
	padding-top: 45px;
}

/* odd tek even cut */
@media(max-width:768px){
.partner-companies .partner-company:nth-child(even){
	display: none;
}

}
/* psedo element/class */

@media(max-width:500px){
.partner-companies .partner-company :not(:first-child){
	display: none;
}
}

/* TRUSTED BY END */



/* services start*/
 .services-cards ul{
	list-style-type:square;
	
 }

 .services-cards{
	display: flex;
	padding: 117px 171px 0px 171px;
justify-content: space-around;
flex-wrap: wrap;
 }

.services h6{
	text-align: center;
	font-weight: 700;
	font-size: 22px;
	margin-top: 156px;
	color: 
	#FF5E69;
	text-transform: uppercase;
	letter-spacing:2px;

}
.services h1{
	text-align: center;
	font-size: 54px;

}
.service-card p{
	width: 252px;

}
.service-card{
	min-width:250px;
}


@media(max-width:782px) and (min-width:500px){
.services h1{
	font-size: 30px;
	
}
.services-cards{
	padding: 0px;
}
}
/* services end */


.text{
    display: flex;
    flex-direction: column;
}
.qrup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text h6{
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: 
    #B16CEA;

}
.text h1{
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1px;
}
.projects button{
    width: 201px;
    height: 58px;
    background-color: #222;
    color: #fff;
    font-size: 18px;
    margin-right: 112px;
}
.projects {
    padding-top: 150px;
    padding-left: 113px;
}
.project1{
    background-color:#fff;
}
.project2{
    background-color:#fff;
}
.project3{
    background-color:#fff;
}
.wiew-project{
    display: flex;
    justify-content: space-around;

    position:relative;
    z-index: 1;
}















.latest-blogs{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
    width:1485px;
    height: 1770px;
    background-color: #000;
    margin-top: -160px;
}
.latest-left-side{
display: flex;
flex-direction: column;
flex: 1;

    padding-left: 133px;
}
.latest-left-side h1,h6{
color: #fff;
}
.latest-left-side h1{
top: 38px;
font-weight: 700;
letter-spacing: 1px;
font-size: 54px;
}
.latest-left-side h5{
    padding-top:200px;
    color: 
    #FFA84B;
	width: 99px;
	height: 22px;
	letter-spacing: 4px;
	font-weight: 700;
	text-transform: uppercase;
}
.latest-left-side h6{
	font-size: 18px;
	font-weight: 700;	
}
.latest-left-side a img{
	position: relative;
top: -60px;
left:100px

}
.latest-right-side{
display: flex;
flex-direction: column;
flex-basis: 55%;
padding-top: 240px;

}
.latest-right-side h6{
color: #FFFFFFB2;
	
}
.latest-right-side h1{
	color: #fff;
	padding-top:24px ;
}
.latest-right-side h4{
	color: #fff;
	position: relative;
	padding-top: 52px;
}
.latest-right-side a{
	position: relative;
	top: -35px;
	left:140px
}
.latest-right-side hr{
	position: relative;
	right: 60px;
	width: 692px;
	height: 1px;
	color: 
	#FFFFFF
	30%;
	background: rgba(255, 255, 255, 0.3);;
opacity: 0.3;
}
.latest-right-side .vector1, .vector2{
	position:relative;
	left: 580px;
	width: 54px;
	
}
.vector{
	display: flex;

}
.vector1{

	padding-right: 10px;
}
/* PRODUCT DESIGNER START */

.designer{
	display: flex;
	flex-direction: column;

}
.product-designer{
	display: flex;
	flex-direction: column;
	padding: 50px 175px 79px 113px;
	
}
.that-me{
	display: flex;
	justify-content: space-between;
	align-items: center;


}
.designer h6{
	color:
	#FF5E69;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 2px;
	padding-top: 100px;
    margin: 0;
	text-transform: uppercase;

}
.designer h1{
	font-size: 54px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-bottom: 140px;



}
.product-designer p{
	color: #666666;
	padding: 80px 0px 110px;
}
.photo{
	display: flex;

}
.designer-svg{
	display: flex;
	flex-direction: column;
}
.designer1{
	padding-right: 16px;
}
.designer2{
	padding-right: 16px;
}
.designer3{
	padding-bottom: 16px;
}






/* EDUCATION START */

.education{
	height: 100vh;
	display: flex;
	padding: 80px 112.5px 50px
}
.education h1{
	padding-top: 50px;
}
.education-left-side{
	flex-basis: 50%;
	padding-top: 5px;
}
	
.experience-right-side{

	flex: 1;
	padding-left: 60px;
}
.education hr{
	position: relative;
	width: 517px;
	height: 1px;
	opacity: 0.5;

}
.experience-right-side hr{
right: 50px;
}
.education-left-side hr{
	right: 22px;
}
.edu{
	display: flex;
	justify-content: space-between;
}
.edu .vector{
	position: relative;
	top: -55px;
	right: 97px;
}
.edu p{
color: 
rgba(0, 0, 0, 0.6);

}
.explogo1{
	position: relative;
	top: 133px;
	right: 572px;
}
.explogo2{
	position: relative;
	top: 308px;
	right: 626px;
}
.explogo3{
	position: relative;
	top: 430px;
	right: 576px;
}